@charset "UTF-8";

/*customizing default scroll bar*/
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {  
  box-shadow: inset 0 0 2px grey; 
  border-radius: 1px; 
}
     
::-webkit-scrollbar-thumb {  
  background: #cecece!important; 
  border-radius: 1px;
  cursor: -webkit-grab; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cecece!important; 
}

/*styling selection text*/
::selection {
  background-color: #b4813f!important;
  color: #f3f3f3;
  -webkit-background-clip: text;
   background-clip: text;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F3F2!important;
  background-image: radial-gradient(#d4d4d4 1px, transparent 1px);
  background-size: 22px 22px;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
   overflow-x: hidden!important;
}

/**Styling Header**/
header {
  padding: 0;
  margin: 0;
}

header .h_container {
  background-image: linear-gradient(to left, #5a3b2f, #5a3b2f, #5a3b2f, #b4813f); 
  color: #f3f3f3!important;
  padding: 3px;
}

header .h_links {
  text-decoration: none;
  color: #f3f3f3;
  opacity: .9;
} header .h_links:hover {
  opacity: 1;
}
/**End Styling Header**/

/* Remove default arrow up/down in input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*Changing the default color of radios and checkbox button*/
input[type=radio] {
  accent-color: #b4813f;
}

input[type=checkbox]:checked {
   background-color: #b4813f!important;
   border-color: #b4813f!important;
}

/*Moving image*/
.moving_image {
   animation: moveUpDown 4s ease-in-out infinite!important;
   pointer-events: none!important;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/**Styling header title**/
.gradient_header {
  background-image: linear-gradient(to left, #373D3F, #373D3F, #555F61);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
  text-transform: uppercase;
}

.gradient_bg_icon {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;

  color: #f3f3f3;
  background: linear-gradient(to left, #5a3b2f, #b4813f)!important; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.description_text {
  color: #555F61!important;
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
}
/**End Styling header title**/

/** alert**/
.alert_description {
  line-height: 25px;
  text-align: justify!important;
  text-justify: inter-word;
}

/**Styling Form**/
.form_card, .card_box {
  padding: 2em;
  background: #ffffff;
  border: 2px solid var(--bs-secondary-bg);
  border-radius: 16px!important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}



/** progres bar */
#seniorHighForm {
  position: relative;
  margin-top: 20px;
}

#progressbar {
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
    color: #000000;
    opacity: .9;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
    z-index: 4;
}

/*Icons in the ProgressBar*/
#progressbar #applyingFor:before {
    font-family: FontAwesome;
    content: "\f15b";
}

#progressbar #personalInformation:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #addressDetails:before {
    font-family: FontAwesome;
    content: "\f041";
}

#progressbar #finishRegistration:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: grey;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    position: relative;
    z-index: 4!important;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
  color: #f3f3f3;
  background: linear-gradient(to left, #5a3b2f, #b4813f)!important; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.next_button {
  border: 1px solid transparent!important;
  background-image: linear-gradient(to left, #5a3b2f, #b4813f);
  color: #f3f3f3!important;
  opacity: .9;
  padding: 6px 20px!important;
  margin-right: 7px!important;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
} .next_button:hover {
  transform: scale(1.03)!important;
}

.back_button {
  border: 1px solid gray;
  background: transparent;
  color: gray;
  padding: 6px 20px;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
} .back_button:hover {
  transform: scale(1.03)!important;
}
/**End Styling Form**/


.swal2-loader {
  display:none;
  align-items:center;
  justify-content:center;
  width:2.2em;
  height:2.2em;
  margin:0 1.875em;
  animation:swal2-rotate-loading 1.5s linear 0s infinite normal;
  border-width:.25em;
  border-style:solid;
  border-radius:100%;
  border-color:#b4813f rgba(0,0,0,0) #b4813f rgba(0,0,0,0)!important;
}