/**Styling Header**/
#header {
	margin: 0;
	padding: 0;
}
#header .h_box {
  background-image: linear-gradient(to left, #5a3b2f, #5a3b2f, #5a3b2f, #b4813f);
  color: var(--app-dirty-white);
  padding: 25px;
}

#header .h_box .h_container_top {
	width: 1200px !important;
  margin: 0 auto;
}

#header .h_box .h_container_top .h_sub_title {
	position: absolute;
	top: 3.5%;
	font-size: 13px;
}
#header .h_box .h_container_top .h_title_link {
	font-family: var(--app-font-poppins);
  font-size: 30px;
  font-weight: bolder;
  text-shadow: none;
	text-decoration: none;
  color: var(--app-dirty-white);
  margin-bottom: -25px !important;
}
#header .h_box .h_container_top .h_menu_link {
	font-family: var(--app-font-poppins);
  color: var(--app-dirty-white);
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

#header .h_box .h_container_top .h_menu_link .icon {
  color: var(--app-dirty-white);
  font-size: 22px; /* Adjust icon size */
  margin-bottom: 4px; /* Add space between the icon and text */
}

#header .h_box .h_container_bottom {
	background: #ffffff !important;
}

/**End Styling Header**/
#introductionAbout {
	margin-top: -100px !important;
}
.hero-image-container {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6C7.8 12.16 7 10.63 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z'/%3E%3C/svg%3E") 12 12, auto !important;
}

.hero-image-container .hero-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.tracks_strand_offers {

}
.offer_parent_title {

font-size: 20px;
font-weight: bold;
}
.label_strand_category {
text-indent: 15px;
}

.form_box {
  background: var(--app-dirty-white) !important;
  border: 0;
  border-radius: 10px;
  opacity: .8;
}

.f_card {
	border: 0;
}

.f_card .card-header {
	border-bottom: none;
	padding: 20px;
	opacity: .8;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.f_card .card-header b {
	font-size: 20px;
}
.f_card .card-header i {
	font-size: 20px;
	font-weight: bolder;
}
.f_card .card-body {
	background: #fbfbfb!important;
	color: #000000;
  opacity: .9;
  border: 1px solid #F2F3F2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 30px!important;
}
